@font-face {
    font-family: 'kingthings_italiqueregular';
    src: url('./fonts/Kingthings_Italique-webfont.woff') format('woff');
    font-weight: 1000;
    font-style: normal;

}

@font-face {
    font-family: "uncialfabeta";
    src: url("./fonts/IrishuncialfabetaBold-2OEBd.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proclamate_light";
    src: url("./fonts/proclamate_light-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "boyd";
    src: url("./fonts/Boyduncial-mlDa.ttf");
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}



.navbar {
    font-family: "boyd";
    font-weight: 900;
    background-image: url("image/castle_wall_2.jpg");
    background-size: 60%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 5;
    width: 100%;
    max-width: 1000px;
    margin: 22px 15px; 
    padding: 0 60px;
}

#navbar_logo {
    background-color: rgb(243, 239, 11);
    background-image: linear-gradient(155deg rgba(223,45,18,1) 19%, rgba(9,9,121,1) 57%, rgba(222,213,25,1) 100% );
    background-size: 120%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 5rem;
}


/* background: rgb(223,45,18);
background: linear-gradient(199deg, rgba(223,45,18,1) 19%, rgba(9,9,121,1) 57%, rgba(222,213,25,1) 100%); */

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    font-size: 60px;
    height: 5rem;
}

.navbar_links {
    color: rgb(243, 239, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 2rem 3rem;
    height: 80%;
}


.navbar_links:hover {
    color: red;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0; 
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
        background: black;
    }


    .navbar_menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #menu-mobile {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle  .bar {
        display: block;
        cursor: pointer;
    }

    #menu-mobile.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #menu-mobile.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #menu-mobile.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #menu-mobile.is-active .bar:nth-child(4) {
        transform: translateY(-16px) rotate(-90deg);
    }


}



.contact-form {
    font-family: "uncialfabeta";
    font-size: 250%;
    background: linear-gradient(200deg, #302424 25%, transparent 25%, transparent 75%, #302424 75%);
    background-size: 190px 190px;
    background-position: 0 0, 4px 4px;
    background-color: #000000;
    padding: 0;
    margin: 0;
    border: 3px solid #f6d008;
    border-radius: 5px;
}

.contact-form h2 {
    font-size: 5rem;
    color: #ce0707;
    text-align: center;
    margin-bottom: 2px;
}

.contact-form label {
    color: #ce0707;
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 4px solid #ffd103;
    border-radius: 3px;
    margin-bottom: 10px;
}

.contact-form button {
    font-family: "uncialfabeta";
    font-size: 2.4rem;
    background-color: #333;
    color: #ce0707;
    padding: 20px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.footer_container { 
    background-color: #f6d008;
    padding:  0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    color: #b30505;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}


.footer_link_wrapper {
    display: flex;
}

.footer_link_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_link_items h2 {
    margin-bottom: 2px;
}

.footer_link_items > h2 {
    color: #fff;
}

.footer_link_items a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link_items a:hover {
    color: #b30505;
    transition: 0.3s ease-out;
}



.website_right {
    color: #b30505;
}

@media screen and (max-width: 820px) {
    .footer_links {
        padding-top: 2rem;
    }

    #footer_logo {
        margin-bottom: 2rem;
    }

    .website_right {
        margin-bottom: 2rem;
    }
    
    .footer_link_wrapper {
        flex-direction: column;
    }

    .social_media_wrapper {
        flex-direction: column;
    }

}

@media screen and (max-width:480px) {
    .footer_link_items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
} 